
.container{background-color: rgb(0, 179, 255);
    text-align: center;margin:10%;
    color: rgb(67, 20, 220);box-shadow: 0px 10px 10px 0px;

}
#hr{
    font-size: 70px;box-shadow: 0px 10px 10px 0px;color: crimson;
}
#min{
    font-size: 70px;box-shadow: 0px 10px 10px 0px;color: crimson;
}
#sec{
    font-size: 70px;box-shadow: 0px 10px 10px 0px;color: crimson;
}
#count{
    font-size: 70px;box-shadow: 0px 10px 10px 0px;color: crimson;
}
#start{
    font-size: 30px;
    margin:60px;box-shadow: 0px 10px 10px 0px;color: crimson;
    
}
#stop{
    font-size: 30px;
    margin:60px;box-shadow: 0px 10px 10px 0px;color: crimson;
}
#reset{
    font-size: 30px;
    margin:60px;box-shadow: 0px 10px 10px 0px;color: crimson;
}
h1{
    color: crimson;
}
body{
    background-image: url("C:\\Users\\vinay\\OneDrive\\Desktop\\img.jpg");opacity: 0.5;background-attachment: fixed;
    background-size: 100% 100%;









